In [1]:
import numpy as np
import pandas as pd
import glob
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

# 폴더 내 csv파일 합치기

In [2]:
try:
    path = '원천데이터/'   #폴더 경로
    files = glob.glob(path + "*.csv") #파일 이름, 기본 인코딩 utf-8
    csv = pd.DataFrame()
    for file_name in files:
        df = pd.read_csv(file_name)
        csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
    print(csv)

except Exception as ex:
    print('error' + str(ex))

C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기

           기준년월    발급년월  광역시_유입  시군구_유입  법정동_유입   연령  성별  회원수 업종대분류  업종중분류  \
0        202005  202005     NaN     NaN     NaN  20대  남성    1     G     47
1        202005  202005     NaN     NaN     NaN  20대  남성    1     G     47
2        202005  202005     NaN     NaN     NaN  20대  남성    1     I     56
3        202005  202005     NaN     NaN     NaN  20대  남성    1     I     56
4        202005  202005     NaN     NaN     NaN  20대  남성    1     Q     86
...         ...     ...     ...     ...     ...  ...  ..  ...   ...    ...
2475794  202204  202204    48.0     NaN     NaN  20대  남성    1     I     56
2475795  202204  202204    48.0     NaN     NaN  20대  남성    1     I     56
2475796  202204  202204    48.0     NaN     NaN  40대  여성    1     G     47
2475797  202204  202204    48.0     NaN     NaN  40대  여성    1     I     55
2475798  202204  202204    48.0     NaN     NaN  40대  여성    1     I     56

          업종소분류  이용건수    이용금액
0           NaN     2   35730
1        G47712     1   41650
2        I56113     2   47400
3        I56129     2   24810
4        Q86203     1  240000
...         ...   ...     ...
2475794  I56192     1    6700
2475795  I56221     2    9800
2475796  G47122     1    3600
2475797  I55102     1   20000
2475798  I56111     1   21000

[2475799 rows x 13 columns]

C:\Users\82104\AppData\Local\Temp\ipykernel_3756\2033093360.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append(df, ignore_index=True) #csv 파일 하나로 합치기

In [3]:
df_2205 = pd.read_csv('원천데이터/cp949/유성구_지역화폐데이터_2205.csv', encoding = 'cp949')
df_2206 = pd.read_csv('원천데이터/cp949/유성구_지역화폐데이터_2206.csv', encoding = 'cp949')
df_2207 = pd.read_csv('원천데이터/cp949/유성구_지역화폐데이터_2207.csv', encoding = 'cp949')
df_2208 = pd.read_csv('원천데이터/cp949/유성구_지역화폐데이터_2208.csv', encoding = 'cp949')
# 오류 난 파일 따로 cp949로 인코딩, 기존 파일과 합치기
df_localpay = pd.concat([csv,df_2205,df_2206,df_2207,df_2208], ignore_index = True)

# 데이터 타입 변경 및 정보 확인

In [4]:
df_localpay = df_localpay.astype({'기준년월':'str','발급년월':'str','광역시_유입':'str','시군구_유입':'str','법정동_유입':'str'})
df_localpay_0 = df_localpay.copy() # 원천데이터 백업
df_localpay.info()
df_localpay.groupby('기준년월').size()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3136866 entries, 0 to 3136865
Data columns (total 13 columns):
 #   Column  Dtype
---  ------  -----
 0   기준년월    object
 1   발급년월    object
 2   광역시_유입  object
 3   시군구_유입  object
 4   법정동_유입  object
 5   연령      object
 6   성별      object
 7   회원수     int64
 8   업종대분류   object
 9   업종중분류   float64
 10  업종소분류   object
 11  이용건수    int64
 12  이용금액    int64
dtypes: float64(1), int64(3), object(9)
memory usage: 311.1+ MB

기준년월
202005      8064
202006     34557
202007     53776
202008     53938
202009     52589
202010     52256
202011     78297
202012     67690
202101     76648
202102     86509
202103     98662
202104    103282
202105    124103
202106    124236
202107    123910
202108    124366
202109    134259
202110    136745
202111    161220
202112    142679
202201    150621
202202    148152
202203    167190
202204    172050
202205    192257
202206    181536
202207    156507
202208    130767
dtype: int64

# 기타 사용데이터 불러오기

In [5]:
df_ujcode = pd.read_csv('기타데이터/standard_10th_ujcode.csv') # 표준산업분류 10차 업종분류표
df_ys_emdcode = pd.read_csv('기타데이터/유성구_법정동코드.csv') # 유성구 법정동 코드표

#데이터 타입 변환
df_ys_emdcode = df_ys_emdcode.astype('str')

# 기타 사용데이터 정보
df_ujcode.info()
print('-----------------------------------------------')
df_ys_emdcode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   대분류코드    1197 non-null   object
 1   대분류항목명   1197 non-null   object
 2   중분류코드    1197 non-null   object
 3   중분류항목명   1197 non-null   object
 4   소분류코드    1197 non-null   object
 5   소분류항목명   1197 non-null   object
 6   세분류코드    1197 non-null   object
 7   세분류항목명   1197 non-null   object
 8   세세분류코드   1197 non-null   object
 9   세세분류항목명  1197 non-null   object
dtypes: object(10)
memory usage: 93.6+ KB
-----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   52 non-null     object
 1   법정동명    52 non-null     object
dtypes: object(2)
memory usage: 960.0+ bytes

# 업종, 법정동 붙이기

In [6]:
df_localpay['세세분류코드'] = df_localpay['업종소분류']
df_localpay = pd.merge(df_localpay, df_ujcode, how = 'left', on = '세세분류코드') # 업종 코드 매핑

df_localpay['법정동코드'] = df_localpay['법정동_유입'].str[:10] 
df_localpay = pd.merge(df_localpay, df_ys_emdcode, how = 'left', on = '법정동코드') # 법정동 코드 매핑

# 데이터 조인 확인

In [7]:
# df_localpay.groupby('법정동명').size()         <- 법정동 리스트 확인용
# df_localpay.groupby('세세분류항목명').size()   <- 업종 리스트 확인용 
print('원천 개수')
print(df_localpay_0.shape)
print("")
print('조인 후 개수')
print(df_localpay.shape)

원천 개수
(3136866, 13)

조인 후 개수
(3136866, 25)

# 날짜 경계 만들기

In [8]:
#날짜 경계 만들기
df_localpay['base_date'] = df_localpay['발급년월'].apply(lambda _ : datetime.strptime(_,'%Y%m'))

# 5개월 전까지 날짜 컬럼 추가
df_localpay['1개월전'] = df_localpay['base_date'] - pd.DateOffset(months = 1)
df_localpay['2개월전'] = df_localpay['base_date'] - pd.DateOffset(months = 2)
df_localpay['3개월전'] = df_localpay['base_date'] - pd.DateOffset(months = 3)
df_localpay['4개월전'] = df_localpay['base_date'] - pd.DateOffset(months = 4)
df_localpay['5개월전'] = df_localpay['base_date'] - pd.DateOffset(months = 5)
df_localpay.tail()

,기준년월,발급년월,광역시_유입,시군구_유입,법정동_유입,연령,성별,회원수,업종대분류,업종중분류,...,세분류항목명,세세분류항목명,법정동코드,법정동명,base_date,1개월전,2개월전,3개월전,4개월전,5개월전
3136861,202208,202208,47.0,nan,nan,30대,남성,1,G,47.0,...,음ㆍ식료품 위주 종합 소매업,체인화 편의점,nan,NaN,2022-08-01,2022-07-01,2022-06-01,2022-05-01,2022-04-01,2022-03-01
3136862,202208,202208,47.0,nan,nan,30대,남성,1,I,56.0,...,기타 간이 음식점업,피자 햄버거 샌드위치 및 유사 음식점업,nan,NaN,2022-08-01,2022-07-01,2022-06-01,2022-05-01,2022-04-01,2022-03-01
3136863,202208,202208,47.0,nan,nan,30대,남성,1,I,56.0,...,비알코올 음료점업,커피 전문점,nan,NaN,2022-08-01,2022-07-01,2022-06-01,2022-05-01,2022-04-01,2022-03-01
3136864,202208,202208,48.0,nan,nan,20대,남성,1,G,47.0,...,음ㆍ식료품 위주 종합 소매업,체인화 편의점,nan,NaN,2022-08-01,2022-07-01,2022-06-01,2022-05-01,2022-04-01,2022-03-01
3136865,202208,202208,48.0,nan,nan,20대,남성,1,G,47.0,...,사무용 기기 안경 사진장비 및 정밀기기 소매업,안경 및 렌즈 소매업,nan,NaN,2022-08-01,2022-07-01,2022-06-01,2022-05-01,2022-04-01,2022-03-01

# 데이터 정리(업종 대, 중, 소)

In [9]:
#데이터 정리(업종 대,중,소)

#데이터 컬럼 정리
df_localpay = df_localpay[['base_date','1개월전','2개월전','3개월전','4개월전','5개월전','기준년월', '법정동명','대분류항목명','중분류항목명','세세분류항목명','이용건수', '이용금액']]
print(df_localpay.info())

#업종 소
df_localpay_s = df_localpay.groupby(['기준년월', '법정동명','대분류항목명','중분류항목명','세세분류항목명'])['이용건수', '이용금액'].sum().reset_index()
df_localpay_s = df_localpay_s[df_localpay_s.이용건수 >= 3] # HAVIG 조건 달기

#업종 중
df_localpay_m = df_localpay_s.groupby(['기준년월', '법정동명','대분류항목명','중분류항목명'])['이용건수', '이용금액'].sum().reset_index()
df_localpay_m['세세분류항목명'] = '*'
df_localpay_m = df_localpay_m[['기준년월', '법정동명','대분류항목명','중분류항목명','세세분류항목명','이용건수', '이용금액']]

#업종 대
df_localpay_b = df_localpay_s.groupby(['기준년월', '법정동명','대분류항목명'])['이용건수', '이용금액'].sum().reset_index()
df_localpay_b['세세분류항목명'] = '*'
df_localpay_b['중분류항목명'] = '*'
df_localpay_b = df_localpay_b[['기준년월', '법정동명','대분류항목명','중분류항목명','세세분류항목명','이용건수', '이용금액']]


print(df_localpay_b.shape,'업종 대')
print(df_localpay_m.shape,'업종 중')
print(df_localpay_s.shape,'업종 소')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3136866 entries, 0 to 3136865
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   base_date  datetime64[ns]
 1   1개월전       datetime64[ns]
 2   2개월전       datetime64[ns]
 3   3개월전       datetime64[ns]
 4   4개월전       datetime64[ns]
 5   5개월전       datetime64[ns]
 6   기준년월       object
 7   법정동명       object
 8   대분류항목명     object
 9   중분류항목명     object
 10  세세분류항목명    object
 11  이용건수       int64
 12  이용금액       int64
dtypes: datetime64[ns](6), int64(2), object(5)
memory usage: 335.1+ MB
None

C:\Users\82104\AppData\Local\Temp\ipykernel_3756\1978619185.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_localpay_s = df_localpay.groupby(['기준년월', '법정동명','대분류항목명','중분류항목명','세세분류항목명'])['이용건수', '이용금액'].sum().reset_index()

(8874, 7) 업종 대
(10797, 7) 업종 중
(47579, 7) 업종 소

C:\Users\82104\AppData\Local\Temp\ipykernel_3756\1978619185.py:12: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_localpay_m = df_localpay_s.groupby(['기준년월', '법정동명','대분류항목명','중분류항목명'])['이용건수', '이용금액'].sum().reset_index()
C:\Users\82104\AppData\Local\Temp\ipykernel_3756\1978619185.py:17: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_localpay_b = df_localpay_s.groupby(['기준년월', '법정동명','대분류항목명'])['이용건수', '이용금액'].sum().reset_index()

# 랭킹 입력

In [10]:
# 랭킹 입력(지역기준, 지역 간 금액,건수 비교)
#업종 대
df_localpay_b['출력지역_매출금액랭킹'] = df_localpay_b.groupby(['기준년월','대분류항목명'])['이용금액'].rank(method='first', ascending=False).astype('int')
df_localpay_b['출력지역_매출건수랭킹'] = df_localpay_b.groupby(['기준년월','대분류항목명'])['이용건수'].rank(method='first', ascending=False).astype('int')
df_localpay_b['출력업종_매출금액랭킹'] = df_localpay_b.groupby(['기준년월','법정동명'])['이용금액'].rank(method='first', ascending=False).astype('int')
df_localpay_b['출력업종_매출건수랭킹'] = df_localpay_b.groupby(['기준년월','법정동명'])['이용건수'].rank(method='first', ascending=False).astype('int')
#업종 중
df_localpay_m['출력지역_매출금액랭킹'] = df_localpay_m.groupby(['기준년월','중분류항목명'])['이용금액'].rank(method='first', ascending=False).astype('int')
df_localpay_m['출력지역_매출건수랭킹'] = df_localpay_m.groupby(['기준년월','중분류항목명'])['이용건수'].rank(method='first', ascending=False).astype('int')
df_localpay_m['출력업종_매출금액랭킹'] = df_localpay_m.groupby(['기준년월','법정동명'])['이용금액'].rank(method='first', ascending=False).astype('int')
df_localpay_m['출력업종_매출건수랭킹'] = df_localpay_m.groupby(['기준년월','법정동명'])['이용건수'].rank(method='first', ascending=False).astype('int')
#업종 소
df_localpay_s['출력지역_매출금액랭킹'] = df_localpay_s.groupby(['기준년월','세세분류항목명'])['이용금액'].rank(method='first', ascending=False).astype('int')
df_localpay_s['출력지역_매출건수랭킹'] = df_localpay_s.groupby(['기준년월','세세분류항목명'])['이용건수'].rank(method='first', ascending=False).astype('int')
df_localpay_s['출력업종_매출금액랭킹'] = df_localpay_s.groupby(['기준년월','법정동명'])['이용금액'].rank(method='first', ascending=False).astype('int')
df_localpay_s['출력업종_매출건수랭킹'] = df_localpay_s.groupby(['기준년월','법정동명'])['이용건수'].rank(method='first', ascending=False).astype('int')

# 1~5위 고정값 join (업종 대)

In [11]:
#업종 대
#매출금액 지역랭킹 
df_localpay_b_lcal_amt_rank1 = df_localpay_b[df_localpay_b.출력지역_매출금액랭킹 == 1]
df_localpay_b_lcal_amt_rank1 = df_localpay_b_lcal_amt_rank1[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_lcal_amt_rank1.rename(columns={'이용금액':'지역1위_매출금액', '법정동명':'매출금액_지역1위명'}, inplace = True)
df_localpay_b_lcal_amt_rank2 = df_localpay_b[df_localpay_b.출력지역_매출금액랭킹 == 2]
df_localpay_b_lcal_amt_rank2 = df_localpay_b_lcal_amt_rank2[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_lcal_amt_rank2.rename(columns={'이용금액':'지역2위_매출금액', '법정동명':'매출금액_지역2위명'}, inplace = True)
df_localpay_b_lcal_amt_rank3 = df_localpay_b[df_localpay_b.출력지역_매출금액랭킹 == 3]
df_localpay_b_lcal_amt_rank3 = df_localpay_b_lcal_amt_rank3[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_lcal_amt_rank3.rename(columns={'이용금액':'지역3위_매출금액', '법정동명':'매출금액_지역3위명'}, inplace = True)
df_localpay_b_lcal_amt_rank4 = df_localpay_b[df_localpay_b.출력지역_매출금액랭킹 == 4]
df_localpay_b_lcal_amt_rank4 = df_localpay_b_lcal_amt_rank4[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_lcal_amt_rank4.rename(columns={'이용금액':'지역4위_매출금액', '법정동명':'매출금액_지역4위명'}, inplace = True)
df_localpay_b_lcal_amt_rank5 = df_localpay_b[df_localpay_b.출력지역_매출금액랭킹 == 5]
df_localpay_b_lcal_amt_rank5 = df_localpay_b_lcal_amt_rank5[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_lcal_amt_rank5.rename(columns={'이용금액':'지역5위_매출금액', '법정동명':'매출금액_지역5위명'}, inplace = True)

#매출건수 지역랭킹 
df_localpay_b_lcal_cnt_rank1 = df_localpay_b[df_localpay_b.출력지역_매출건수랭킹 == 1]
df_localpay_b_lcal_cnt_rank1 = df_localpay_b_lcal_cnt_rank1[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_lcal_cnt_rank1.rename(columns={'이용건수':'지역1위_매출건수', '법정동명':'매출건수_지역1위명'}, inplace = True)
df_localpay_b_lcal_cnt_rank2 = df_localpay_b[df_localpay_b.출력지역_매출건수랭킹 == 2]
df_localpay_b_lcal_cnt_rank2 = df_localpay_b_lcal_cnt_rank2[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_lcal_cnt_rank2.rename(columns={'이용건수':'지역2위_매출건수', '법정동명':'매출건수_지역2위명'}, inplace = True)
df_localpay_b_lcal_cnt_rank3 = df_localpay_b[df_localpay_b.출력지역_매출건수랭킹 == 3]
df_localpay_b_lcal_cnt_rank3 = df_localpay_b_lcal_cnt_rank3[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_lcal_cnt_rank3.rename(columns={'이용건수':'지역3위_매출건수', '법정동명':'매출건수_지역3위명'}, inplace = True)
df_localpay_b_lcal_cnt_rank4 = df_localpay_b[df_localpay_b.출력지역_매출건수랭킹 == 4]
df_localpay_b_lcal_cnt_rank4 = df_localpay_b_lcal_cnt_rank4[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_lcal_cnt_rank4.rename(columns={'이용건수':'지역4위_매출건수', '법정동명':'매출건수_지역4위명'}, inplace = True)
df_localpay_b_lcal_cnt_rank5 = df_localpay_b[df_localpay_b.출력지역_매출건수랭킹 == 5]
df_localpay_b_lcal_cnt_rank5 = df_localpay_b_lcal_cnt_rank5[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_lcal_cnt_rank5.rename(columns={'이용건수':'지역5위_매출건수', '법정동명':'매출건수_지역5위명'}, inplace = True)

#매출금액 업종랭킹
df_localpay_b_uj_amt_rank1 = df_localpay_b[df_localpay_b.출력업종_매출금액랭킹 == 1]
df_localpay_b_uj_amt_rank1 = df_localpay_b_uj_amt_rank1[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_uj_amt_rank1.rename(columns={'이용금액':'업종1위_매출금액', '대분류항목명':'매출금액_업종1위명'}, inplace = True)
df_localpay_b_uj_amt_rank2 = df_localpay_b[df_localpay_b.출력업종_매출금액랭킹 == 2]
df_localpay_b_uj_amt_rank2 = df_localpay_b_uj_amt_rank2[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_uj_amt_rank2.rename(columns={'이용금액':'업종2위_매출금액', '대분류항목명':'매출금액_업종2위명'}, inplace = True)
df_localpay_b_uj_amt_rank3 = df_localpay_b[df_localpay_b.출력업종_매출금액랭킹 == 3]
df_localpay_b_uj_amt_rank3 = df_localpay_b_uj_amt_rank3[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_uj_amt_rank3.rename(columns={'이용금액':'업종3위_매출금액', '대분류항목명':'매출금액_업종3위명'}, inplace = True)
df_localpay_b_uj_amt_rank4 = df_localpay_b[df_localpay_b.출력업종_매출금액랭킹 == 4]
df_localpay_b_uj_amt_rank4 = df_localpay_b_uj_amt_rank4[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_uj_amt_rank4.rename(columns={'이용금액':'업종4위_매출금액', '대분류항목명':'매출금액_업종4위명'}, inplace = True)
df_localpay_b_uj_amt_rank5 = df_localpay_b[df_localpay_b.출력업종_매출금액랭킹 == 5]
df_localpay_b_uj_amt_rank5 = df_localpay_b_uj_amt_rank5[['기준년월','대분류항목명','법정동명','이용금액']]
df_localpay_b_uj_amt_rank5.rename(columns={'이용금액':'업종5위_매출금액', '대분류항목명':'매출금액_업종5위명'}, inplace = True)

#매출건수 업종랭킹
df_localpay_b_uj_cnt_rank1 = df_localpay_b[df_localpay_b.출력업종_매출건수랭킹 == 1]
df_localpay_b_uj_cnt_rank1 = df_localpay_b_uj_cnt_rank1[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_uj_cnt_rank1.rename(columns={'이용건수':'업종1위_매출건수', '대분류항목명':'매출건수_업종1위명'}, inplace = True)
df_localpay_b_uj_cnt_rank2 = df_localpay_b[df_localpay_b.출력업종_매출건수랭킹 == 2]
df_localpay_b_uj_cnt_rank2 = df_localpay_b_uj_cnt_rank2[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_uj_cnt_rank2.rename(columns={'이용건수':'업종2위_매출건수', '대분류항목명':'매출건수_업종2위명'}, inplace = True)
df_localpay_b_uj_cnt_rank3 = df_localpay_b[df_localpay_b.출력업종_매출건수랭킹 == 3]
df_localpay_b_uj_cnt_rank3 = df_localpay_b_uj_cnt_rank3[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_uj_cnt_rank3.rename(columns={'이용건수':'업종3위_매출건수', '대분류항목명':'매출건수_업종3위명'}, inplace = True)
df_localpay_b_uj_cnt_rank4 = df_localpay_b[df_localpay_b.출력업종_매출건수랭킹 == 4]
df_localpay_b_uj_cnt_rank4 = df_localpay_b_uj_cnt_rank4[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_uj_cnt_rank4.rename(columns={'이용건수':'업종4위_매출건수', '대분류항목명':'매출건수_업종4위명'}, inplace = True)
df_localpay_b_uj_cnt_rank5 = df_localpay_b[df_localpay_b.출력업종_매출건수랭킹 == 5]
df_localpay_b_uj_cnt_rank5 = df_localpay_b_uj_cnt_rank5[['기준년월','대분류항목명','법정동명','이용건수']]
df_localpay_b_uj_cnt_rank5.rename(columns={'이용건수':'업종5위_매출건수', '대분류항목명':'매출건수_업종5위명'}, inplace = True)

############################################################################################################################
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_amt_rank1, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_amt_rank2, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_amt_rank3, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_amt_rank4, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_amt_rank5, how = 'left', on = ['기준년월','대분류항목명'])

df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_cnt_rank1, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_cnt_rank2, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_cnt_rank3, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_cnt_rank4, how = 'left', on = ['기준년월','대분류항목명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_lcal_cnt_rank5, how = 'left', on = ['기준년월','대분류항목명'])

df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_amt_rank1, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_amt_rank2, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_amt_rank3, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_amt_rank4, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_amt_rank5, how = 'left', on = ['기준년월','법정동명'])

df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_cnt_rank1, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_cnt_rank2, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_cnt_rank3, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_cnt_rank4, how = 'left', on = ['기준년월','법정동명'])
df_localpay_b = pd.merge(df_localpay_b, df_localpay_b_uj_cnt_rank5, how = 'left', on = ['기준년월','법정동명'])

# 1~5위 고정값 join (업종 중)

In [12]:
#업종 중
#매출금액 지역랭킹 
df_localpay_m_lcal_amt_rank1 = df_localpay_m[df_localpay_m.출력지역_매출금액랭킹 == 1]
df_localpay_m_lcal_amt_rank1 = df_localpay_m_lcal_amt_rank1[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_lcal_amt_rank1.rename(columns={'이용금액':'지역1위_매출금액', '법정동명':'매출금액_지역1위명'}, inplace = True)
df_localpay_m_lcal_amt_rank2 = df_localpay_m[df_localpay_m.출력지역_매출금액랭킹 == 2]
df_localpay_m_lcal_amt_rank2 = df_localpay_m_lcal_amt_rank2[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_lcal_amt_rank2.rename(columns={'이용금액':'지역2위_매출금액', '법정동명':'매출금액_지역2위명'}, inplace = True)
df_localpay_m_lcal_amt_rank3 = df_localpay_m[df_localpay_m.출력지역_매출금액랭킹 == 3]
df_localpay_m_lcal_amt_rank3 = df_localpay_m_lcal_amt_rank3[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_lcal_amt_rank3.rename(columns={'이용금액':'지역3위_매출금액', '법정동명':'매출금액_지역3위명'}, inplace = True)
df_localpay_m_lcal_amt_rank4 = df_localpay_m[df_localpay_m.출력지역_매출금액랭킹 == 4]
df_localpay_m_lcal_amt_rank4 = df_localpay_m_lcal_amt_rank4[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_lcal_amt_rank4.rename(columns={'이용금액':'지역4위_매출금액', '법정동명':'매출금액_지역4위명'}, inplace = True)
df_localpay_m_lcal_amt_rank5 = df_localpay_m[df_localpay_m.출력지역_매출금액랭킹 == 5]
df_localpay_m_lcal_amt_rank5 = df_localpay_m_lcal_amt_rank5[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_lcal_amt_rank5.rename(columns={'이용금액':'지역5위_매출금액', '법정동명':'매출금액_지역5위명'}, inplace = True)

#매출건수 지역랭킹 
df_localpay_m_lcal_cnt_rank1 = df_localpay_m[df_localpay_m.출력지역_매출건수랭킹 == 1]
df_localpay_m_lcal_cnt_rank1 = df_localpay_m_lcal_cnt_rank1[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_lcal_cnt_rank1.rename(columns={'이용건수':'지역1위_매출건수', '법정동명':'매출건수_지역1위명'}, inplace = True)
df_localpay_m_lcal_cnt_rank2 = df_localpay_m[df_localpay_m.출력지역_매출건수랭킹 == 2]
df_localpay_m_lcal_cnt_rank2 = df_localpay_m_lcal_cnt_rank2[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_lcal_cnt_rank2.rename(columns={'이용건수':'지역2위_매출건수', '법정동명':'매출건수_지역2위명'}, inplace = True)
df_localpay_m_lcal_cnt_rank3 = df_localpay_m[df_localpay_m.출력지역_매출건수랭킹 == 3]
df_localpay_m_lcal_cnt_rank3 = df_localpay_m_lcal_cnt_rank3[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_lcal_cnt_rank3.rename(columns={'이용건수':'지역3위_매출건수', '법정동명':'매출건수_지역3위명'}, inplace = True)
df_localpay_m_lcal_cnt_rank4 = df_localpay_m[df_localpay_m.출력지역_매출건수랭킹 == 4]
df_localpay_m_lcal_cnt_rank4 = df_localpay_m_lcal_cnt_rank4[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_lcal_cnt_rank4.rename(columns={'이용건수':'지역4위_매출건수', '법정동명':'매출건수_지역4위명'}, inplace = True)
df_localpay_m_lcal_cnt_rank5 = df_localpay_m[df_localpay_m.출력지역_매출건수랭킹 == 5]
df_localpay_m_lcal_cnt_rank5 = df_localpay_m_lcal_cnt_rank5[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_lcal_cnt_rank5.rename(columns={'이용건수':'지역5위_매출건수', '법정동명':'매출건수_지역5위명'}, inplace = True)

#매출금액 업종랭킹
df_localpay_m_uj_amt_rank1 = df_localpay_m[df_localpay_m.출력업종_매출금액랭킹 == 1]
df_localpay_m_uj_amt_rank1 = df_localpay_m_uj_amt_rank1[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_uj_amt_rank1.rename(columns={'이용금액':'업종1위_매출금액', '중분류항목명':'매출금액_업종1위명'}, inplace = True)
df_localpay_m_uj_amt_rank2 = df_localpay_m[df_localpay_m.출력업종_매출금액랭킹 == 2]
df_localpay_m_uj_amt_rank2 = df_localpay_m_uj_amt_rank2[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_uj_amt_rank2.rename(columns={'이용금액':'업종2위_매출금액', '중분류항목명':'매출금액_업종2위명'}, inplace = True)
df_localpay_m_uj_amt_rank3 = df_localpay_m[df_localpay_m.출력업종_매출금액랭킹 == 3]
df_localpay_m_uj_amt_rank3 = df_localpay_m_uj_amt_rank3[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_uj_amt_rank3.rename(columns={'이용금액':'업종3위_매출금액', '중분류항목명':'매출금액_업종3위명'}, inplace = True)
df_localpay_m_uj_amt_rank4 = df_localpay_m[df_localpay_m.출력업종_매출금액랭킹 == 4]
df_localpay_m_uj_amt_rank4 = df_localpay_m_uj_amt_rank4[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_uj_amt_rank4.rename(columns={'이용금액':'업종4위_매출금액', '중분류항목명':'매출금액_업종4위명'}, inplace = True)
df_localpay_m_uj_amt_rank5 = df_localpay_m[df_localpay_m.출력업종_매출금액랭킹 == 5]
df_localpay_m_uj_amt_rank5 = df_localpay_m_uj_amt_rank5[['기준년월','중분류항목명','법정동명','이용금액']]
df_localpay_m_uj_amt_rank5.rename(columns={'이용금액':'업종5위_매출금액', '중분류항목명':'매출금액_업종5위명'}, inplace = True)

#매출건수 업종랭킹
df_localpay_m_uj_cnt_rank1 = df_localpay_m[df_localpay_m.출력업종_매출건수랭킹 == 1]
df_localpay_m_uj_cnt_rank1 = df_localpay_m_uj_cnt_rank1[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_uj_cnt_rank1.rename(columns={'이용건수':'업종1위_매출건수', '중분류항목명':'매출건수_업종1위명'}, inplace = True)
df_localpay_m_uj_cnt_rank2 = df_localpay_m[df_localpay_m.출력업종_매출건수랭킹 == 2]
df_localpay_m_uj_cnt_rank2 = df_localpay_m_uj_cnt_rank2[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_uj_cnt_rank2.rename(columns={'이용건수':'업종2위_매출건수', '중분류항목명':'매출건수_업종2위명'}, inplace = True)
df_localpay_m_uj_cnt_rank3 = df_localpay_m[df_localpay_m.출력업종_매출건수랭킹 == 3]
df_localpay_m_uj_cnt_rank3 = df_localpay_m_uj_cnt_rank3[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_uj_cnt_rank3.rename(columns={'이용건수':'업종3위_매출건수', '중분류항목명':'매출건수_업종3위명'}, inplace = True)
df_localpay_m_uj_cnt_rank4 = df_localpay_m[df_localpay_m.출력업종_매출건수랭킹 == 4]
df_localpay_m_uj_cnt_rank4 = df_localpay_m_uj_cnt_rank4[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_uj_cnt_rank4.rename(columns={'이용건수':'업종4위_매출건수', '중분류항목명':'매출건수_업종4위명'}, inplace = True)
df_localpay_m_uj_cnt_rank5 = df_localpay_m[df_localpay_m.출력업종_매출건수랭킹 == 5]
df_localpay_m_uj_cnt_rank5 = df_localpay_m_uj_cnt_rank5[['기준년월','중분류항목명','법정동명','이용건수']]
df_localpay_m_uj_cnt_rank5.rename(columns={'이용건수':'업종5위_매출건수', '중분류항목명':'매출건수_업종5위명'}, inplace = True)

############################################################################################################################
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_amt_rank1, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_amt_rank2, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_amt_rank3, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_amt_rank4, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_amt_rank5, how = 'left', on = ['기준년월','중분류항목명'])

df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_cnt_rank1, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_cnt_rank2, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_cnt_rank3, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_cnt_rank4, how = 'left', on = ['기준년월','중분류항목명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_lcal_cnt_rank5, how = 'left', on = ['기준년월','중분류항목명'])

df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_amt_rank1, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_amt_rank2, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_amt_rank3, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_amt_rank4, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_amt_rank5, how = 'left', on = ['기준년월','법정동명'])

df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_cnt_rank1, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_cnt_rank2, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_cnt_rank3, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_cnt_rank4, how = 'left', on = ['기준년월','법정동명'])
df_localpay_m = pd.merge(df_localpay_m, df_localpay_m_uj_cnt_rank5, how = 'left', on = ['기준년월','법정동명'])

# 1~5위 고정값 join (업종 소)

In [13]:
#업종 대
#매출금액 지역랭킹 
df_localpay_s_lcal_amt_rank1 = df_localpay_s[df_localpay_s.출력지역_매출금액랭킹 == 1]
df_localpay_s_lcal_amt_rank1 = df_localpay_s_lcal_amt_rank1[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_lcal_amt_rank1.rename(columns={'이용금액':'지역1위_매출금액', '법정동명':'매출금액_지역1위명'}, inplace = True)
df_localpay_s_lcal_amt_rank2 = df_localpay_s[df_localpay_s.출력지역_매출금액랭킹 == 2]
df_localpay_s_lcal_amt_rank2 = df_localpay_s_lcal_amt_rank2[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_lcal_amt_rank2.rename(columns={'이용금액':'지역2위_매출금액', '법정동명':'매출금액_지역2위명'}, inplace = True)
df_localpay_s_lcal_amt_rank3 = df_localpay_s[df_localpay_s.출력지역_매출금액랭킹 == 3]
df_localpay_s_lcal_amt_rank3 = df_localpay_s_lcal_amt_rank3[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_lcal_amt_rank3.rename(columns={'이용금액':'지역3위_매출금액', '법정동명':'매출금액_지역3위명'}, inplace = True)
df_localpay_s_lcal_amt_rank4 = df_localpay_s[df_localpay_s.출력지역_매출금액랭킹 == 4]
df_localpay_s_lcal_amt_rank4 = df_localpay_s_lcal_amt_rank4[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_lcal_amt_rank4.rename(columns={'이용금액':'지역4위_매출금액', '법정동명':'매출금액_지역4위명'}, inplace = True)
df_localpay_s_lcal_amt_rank5 = df_localpay_s[df_localpay_s.출력지역_매출금액랭킹 == 5]
df_localpay_s_lcal_amt_rank5 = df_localpay_s_lcal_amt_rank5[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_lcal_amt_rank5.rename(columns={'이용금액':'지역5위_매출금액', '법정동명':'매출금액_지역5위명'}, inplace = True)

#매출건수 지역랭킹 
df_localpay_s_lcal_cnt_rank1 = df_localpay_s[df_localpay_s.출력지역_매출건수랭킹 == 1]
df_localpay_s_lcal_cnt_rank1 = df_localpay_s_lcal_cnt_rank1[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_lcal_cnt_rank1.rename(columns={'이용건수':'지역1위_매출건수', '법정동명':'매출건수_지역1위명'}, inplace = True)
df_localpay_s_lcal_cnt_rank2 = df_localpay_s[df_localpay_s.출력지역_매출건수랭킹 == 2]
df_localpay_s_lcal_cnt_rank2 = df_localpay_s_lcal_cnt_rank2[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_lcal_cnt_rank2.rename(columns={'이용건수':'지역2위_매출건수', '법정동명':'매출건수_지역2위명'}, inplace = True)
df_localpay_s_lcal_cnt_rank3 = df_localpay_s[df_localpay_s.출력지역_매출건수랭킹 == 3]
df_localpay_s_lcal_cnt_rank3 = df_localpay_s_lcal_cnt_rank3[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_lcal_cnt_rank3.rename(columns={'이용건수':'지역3위_매출건수', '법정동명':'매출건수_지역3위명'}, inplace = True)
df_localpay_s_lcal_cnt_rank4 = df_localpay_s[df_localpay_s.출력지역_매출건수랭킹 == 4]
df_localpay_s_lcal_cnt_rank4 = df_localpay_s_lcal_cnt_rank4[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_lcal_cnt_rank4.rename(columns={'이용건수':'지역4위_매출건수', '법정동명':'매출건수_지역4위명'}, inplace = True)
df_localpay_s_lcal_cnt_rank5 = df_localpay_s[df_localpay_s.출력지역_매출건수랭킹 == 5]
df_localpay_s_lcal_cnt_rank5 = df_localpay_s_lcal_cnt_rank5[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_lcal_cnt_rank5.rename(columns={'이용건수':'지역5위_매출건수', '법정동명':'매출건수_지역5위명'}, inplace = True)

#매출금액 업종랭킹
df_localpay_s_uj_amt_rank1 = df_localpay_s[df_localpay_s.출력업종_매출금액랭킹 == 1]
df_localpay_s_uj_amt_rank1 = df_localpay_s_uj_amt_rank1[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_uj_amt_rank1.rename(columns={'이용금액':'업종1위_매출금액', '세세분류항목명':'매출금액_업종1위명'}, inplace = True)
df_localpay_s_uj_amt_rank2 = df_localpay_s[df_localpay_s.출력업종_매출금액랭킹 == 2]
df_localpay_s_uj_amt_rank2 = df_localpay_s_uj_amt_rank2[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_uj_amt_rank2.rename(columns={'이용금액':'업종2위_매출금액', '세세분류항목명':'매출금액_업종2위명'}, inplace = True)
df_localpay_s_uj_amt_rank3 = df_localpay_s[df_localpay_s.출력업종_매출금액랭킹 == 3]
df_localpay_s_uj_amt_rank3 = df_localpay_s_uj_amt_rank3[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_uj_amt_rank3.rename(columns={'이용금액':'업종3위_매출금액', '세세분류항목명':'매출금액_업종3위명'}, inplace = True)
df_localpay_s_uj_amt_rank4 = df_localpay_s[df_localpay_s.출력업종_매출금액랭킹 == 4]
df_localpay_s_uj_amt_rank4 = df_localpay_s_uj_amt_rank4[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_uj_amt_rank4.rename(columns={'이용금액':'업종4위_매출금액', '세세분류항목명':'매출금액_업종4위명'}, inplace = True)
df_localpay_s_uj_amt_rank5 = df_localpay_s[df_localpay_s.출력업종_매출금액랭킹 == 5]
df_localpay_s_uj_amt_rank5 = df_localpay_s_uj_amt_rank5[['기준년월','세세분류항목명','법정동명','이용금액']]
df_localpay_s_uj_amt_rank5.rename(columns={'이용금액':'업종5위_매출금액', '세세분류항목명':'매출금액_업종5위명'}, inplace = True)

#매출건수 업종랭킹
df_localpay_s_uj_cnt_rank1 = df_localpay_s[df_localpay_s.출력업종_매출건수랭킹 == 1]
df_localpay_s_uj_cnt_rank1 = df_localpay_s_uj_cnt_rank1[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_uj_cnt_rank1.rename(columns={'이용건수':'업종1위_매출건수', '세세분류항목명':'매출건수_업종1위명'}, inplace = True)
df_localpay_s_uj_cnt_rank2 = df_localpay_s[df_localpay_s.출력업종_매출건수랭킹 == 2]
df_localpay_s_uj_cnt_rank2 = df_localpay_s_uj_cnt_rank2[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_uj_cnt_rank2.rename(columns={'이용건수':'업종2위_매출건수', '세세분류항목명':'매출건수_업종2위명'}, inplace = True)
df_localpay_s_uj_cnt_rank3 = df_localpay_s[df_localpay_s.출력업종_매출건수랭킹 == 3]
df_localpay_s_uj_cnt_rank3 = df_localpay_s_uj_cnt_rank3[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_uj_cnt_rank3.rename(columns={'이용건수':'업종3위_매출건수', '세세분류항목명':'매출건수_업종3위명'}, inplace = True)
df_localpay_s_uj_cnt_rank4 = df_localpay_s[df_localpay_s.출력업종_매출건수랭킹 == 4]
df_localpay_s_uj_cnt_rank4 = df_localpay_s_uj_cnt_rank4[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_uj_cnt_rank4.rename(columns={'이용건수':'업종4위_매출건수', '세세분류항목명':'매출건수_업종4위명'}, inplace = True)
df_localpay_s_uj_cnt_rank5 = df_localpay_s[df_localpay_s.출력업종_매출건수랭킹 == 5]
df_localpay_s_uj_cnt_rank5 = df_localpay_s_uj_cnt_rank5[['기준년월','세세분류항목명','법정동명','이용건수']]
df_localpay_s_uj_cnt_rank5.rename(columns={'이용건수':'업종5위_매출건수', '세세분류항목명':'매출건수_업종5위명'}, inplace = True)

############################################################################################################################
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_amt_rank1, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_amt_rank2, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_amt_rank3, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_amt_rank4, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_amt_rank5, how = 'left', on = ['기준년월','세세분류항목명'])

df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_cnt_rank1, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_cnt_rank2, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_cnt_rank3, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_cnt_rank4, how = 'left', on = ['기준년월','세세분류항목명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_lcal_cnt_rank5, how = 'left', on = ['기준년월','세세분류항목명'])

df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_amt_rank1, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_amt_rank2, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_amt_rank3, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_amt_rank4, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_amt_rank5, how = 'left', on = ['기준년월','법정동명'])

df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_cnt_rank1, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_cnt_rank2, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_cnt_rank3, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_cnt_rank4, how = 'left', on = ['기준년월','법정동명'])
df_localpay_s = pd.merge(df_localpay_s, df_localpay_s_uj_cnt_rank5, how = 'left', on = ['기준년월','법정동명'])

# 그래프 03~06 집계 및 검증

In [42]:
print('-----------------------데이터 조인 후 검증-----------------------')
print(df_localpay_b.shape,'업종 대')
print(df_localpay_m.shape,'업종 중')
print(df_localpay_s.shape,'업종 소')
print('')
# 합치기 
print('-----------------------데이터 합친 후 검증-----------------------')
df_localpay_graph03_06 = pd.concat([df_localpay_b, df_localpay_m, df_localpay_s], ignore_index = True)
df_localpay_graph03_06.rename(columns = {'법정동명':'법정동','대분류항목명':'업종_대분류', '중분류항목명':'업종_중분류', 
                                         '세세분류항목명':'업종_소분류', '이용금액':'매출금액','이용건수':'매출건수'}, inplace = True)

df_localpay_graph03_06 = df_localpay_graph03_06.astype('str')
df_localpay_graph03_06 = df_localpay_graph03_06.replace('.0', '')
print(df_localpay_graph03_06.shape)
print(df_localpay_graph03_06.columns)
print('')
# 그래프 03~ 06번 나누기
# 그래프 03
df_localpay_graph03 = df_localpay_graph03_06[['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
                                              '출력지역_매출금액랭킹' ,'지역1위_매출금액','매출금액_지역1위명' ,'지역2위_매출금액' ,'매출금액_지역2위명' ,'지역3위_매출금액' ,'매출금액_지역3위명' ,'지역4위_매출금액' ,'매출금액_지역4위명' ,'지역5위_매출금액','매출금액_지역5위명']]
# 그래프 04
df_localpay_graph04 = df_localpay_graph03_06[['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
                                             '출력지역_매출건수랭킹' ,'지역1위_매출건수','매출건수_지역1위명' ,'지역2위_매출건수' ,'매출건수_지역2위명' ,'지역3위_매출건수' ,'매출건수_지역3위명' ,'지역4위_매출건수' ,'매출건수_지역4위명' ,'지역5위_매출건수','매출건수_지역5위명']]
# 그래프 05
df_localpay_graph05 = df_localpay_graph03_06[['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
                                             '출력업종_매출금액랭킹' ,'업종1위_매출금액','매출금액_업종1위명' ,'업종2위_매출금액' ,'매출금액_업종2위명' ,'업종3위_매출금액' ,'매출금액_업종3위명' ,'업종4위_매출금액' ,'매출금액_업종4위명' ,'업종5위_매출금액','매출금액_업종5위명']]
# 그래프 06
df_localpay_graph06 = df_localpay_graph03_06[['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
                                             '출력업종_매출건수랭킹' ,'업종1위_매출건수','매출건수_업종1위명' ,'업종2위_매출건수' ,'매출건수_업종2위명' ,'업종3위_매출건수' ,'매출건수_업종3위명' ,'업종4위_매출건수' ,'매출건수_업종4위명' ,'업종5위_매출건수','매출건수_업종5위명']]
print('-----------------------데이터 나눈 후 검증-----------------------')
print(df_localpay_graph03.shape,'그래프 03번')
print(df_localpay_graph03.columns)
print(df_localpay_graph04.shape,'그래프 04번')
print(df_localpay_graph04.columns)
print(df_localpay_graph05.shape,'그래프 05번')
print(df_localpay_graph05.columns)
print(df_localpay_graph06.shape,'그래프 06번')
print(df_localpay_graph06.columns)

-----------------------데이터 조인 후 검증-----------------------
(8874, 51) 업종 대
(10797, 51) 업종 중
(47579, 51) 업종 소

-----------------------데이터 합친 후 검증-----------------------
(67250, 51)
Index(['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출건수', '매출금액',
       '출력지역_매출금액랭킹', '출력지역_매출건수랭킹', '출력업종_매출금액랭킹', '출력업종_매출건수랭킹',
       '매출금액_지역1위명', '지역1위_매출금액', '매출금액_지역2위명', '지역2위_매출금액', '매출금액_지역3위명',
       '지역3위_매출금액', '매출금액_지역4위명', '지역4위_매출금액', '매출금액_지역5위명', '지역5위_매출금액',
       '매출건수_지역1위명', '지역1위_매출건수', '매출건수_지역2위명', '지역2위_매출건수', '매출건수_지역3위명',
       '지역3위_매출건수', '매출건수_지역4위명', '지역4위_매출건수', '매출건수_지역5위명', '지역5위_매출건수',
       '매출금액_업종1위명', '업종1위_매출금액', '매출금액_업종2위명', '업종2위_매출금액', '매출금액_업종3위명',
       '업종3위_매출금액', '매출금액_업종4위명', '업종4위_매출금액', '매출금액_업종5위명', '업종5위_매출금액',
       '매출건수_업종1위명', '업종1위_매출건수', '매출건수_업종2위명', '업종2위_매출건수', '매출건수_업종3위명',
       '업종3위_매출건수', '매출건수_업종4위명', '업종4위_매출건수', '매출건수_업종5위명', '업종5위_매출건수'],
      dtype='object')

-----------------------데이터 나눈 후 검증-----------------------
(67250, 18) 그래프 03번
Index(['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
       '출력지역_매출금액랭킹', '지역1위_매출금액', '매출금액_지역1위명', '지역2위_매출금액', '매출금액_지역2위명',
       '지역3위_매출금액', '매출금액_지역3위명', '지역4위_매출금액', '매출금액_지역4위명', '지역5위_매출금액',
       '매출금액_지역5위명'],
      dtype='object')
(67250, 18) 그래프 04번
Index(['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
       '출력지역_매출건수랭킹', '지역1위_매출건수', '매출건수_지역1위명', '지역2위_매출건수', '매출건수_지역2위명',
       '지역3위_매출건수', '매출건수_지역3위명', '지역4위_매출건수', '매출건수_지역4위명', '지역5위_매출건수',
       '매출건수_지역5위명'],
      dtype='object')
(67250, 18) 그래프 05번
Index(['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
       '출력업종_매출금액랭킹', '업종1위_매출금액', '매출금액_업종1위명', '업종2위_매출금액', '매출금액_업종2위명',
       '업종3위_매출금액', '매출금액_업종3위명', '업종4위_매출금액', '매출금액_업종4위명', '업종5위_매출금액',
       '매출금액_업종5위명'],
      dtype='object')
(67250, 18) 그래프 06번
Index(['기준년월', '법정동', '업종_대분류', '업종_중분류', '업종_소분류', '매출금액', '매출건수',
       '출력업종_매출건수랭킹', '업종1위_매출건수', '매출건수_업종1위명', '업종2위_매출건수', '매출건수_업종2위명',
       '업종3위_매출건수', '매출건수_업종3위명', '업종4위_매출건수', '매출건수_업종4위명', '업종5위_매출건수',
       '매출건수_업종5위명'],
      dtype='object')

In [44]:
df_localpay_graph03_06

,기준년월,법정동,업종_대분류,업종_중분류,업종_소분류,매출건수,매출금액,출력지역_매출금액랭킹,출력지역_매출건수랭킹,출력업종_매출금액랭킹,...,매출건수_업종1위명,업종1위_매출건수,매출건수_업종2위명,업종2위_매출건수,매출건수_업종3위명,업종3위_매출건수,매출건수_업종4위명,업종4위_매출건수,매출건수_업종5위명,업종5위_매출건수
0,202005,가정동,도매 및 소매업(45-47),*,*,24,179540,29,29,2,...,숙박 및 음식점업(55-56),42,도매 및 소매업(45-47),24.0,nan,nan,nan,nan,nan,nan
1,202005,가정동,숙박 및 음식점업(55-56),*,*,42,825100,30,30,1,...,숙박 및 음식점업(55-56),42,도매 및 소매업(45-47),24.0,nan,nan,nan,nan,nan,nan
2,202005,계산동,교육 서비스업(85),*,*,27,6211100,15,12,3,...,도매 및 소매업(45-47),427,숙박 및 음식점업(55-56),401.0,교육 서비스업(85),27.0,협회 및 단체 수리 및 기타 개인 서비스업(94-96),19.0,보건업 및 사회복지 서비스업(86-87),7.0
3,202005,계산동,도매 및 소매업(45-47),*,*,427,7893267,18,17,2,...,도매 및 소매업(45-47),427,숙박 및 음식점업(55-56),401.0,교육 서비스업(85),27.0,협회 및 단체 수리 및 기타 개인 서비스업(94-96),19.0,보건업 및 사회복지 서비스업(86-87),7.0
4,202005,계산동,보건업 및 사회복지 서비스업(86-87),*,*,7,94900,19,19,5,...,도매 및 소매업(45-47),427,숙박 및 음식점업(55-56),401.0,교육 서비스업(85),27.0,협회 및 단체 수리 및 기타 개인 서비스업(94-96),19.0,보건업 및 사회복지 서비스업(86-87),7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67245,202208,화암동,숙박 및 음식점업(55-56),음식점 및 주점업,커피 전문점,70,580560,31,31,3,...,한식 일반 음식점업,79,커피 전문점,70.0,체인화 편의점,62.0,기타 외국식 음식점업,22.0,기타 대형 종합 소매업,18.0
67246,202208,화암동,숙박 및 음식점업(55-56),음식점 및 주점업,한식 면 요리 전문점,6,172000,30,31,7,...,한식 일반 음식점업,79,커피 전문점,70.0,체인화 편의점,62.0,기타 외국식 음식점업,22.0,기타 대형 종합 소매업,18.0
67247,202208,화암동,숙박 및 음식점업(55-56),음식점 및 주점업,한식 일반 음식점업,79,1484448,36,35,1,...,한식 일반 음식점업,79,커피 전문점,70.0,체인화 편의점,62.0,기타 외국식 음식점업,22.0,기타 대형 종합 소매업,18.0
67248,202208,화암동,협회 및 단체 수리 및 기타 개인 서비스업(94-96),기타 개인 서비스업,가정용 세탁업,4,35420,27,28,10,...,한식 일반 음식점업,79,커피 전문점,70.0,체인화 편의점,62.0,기타 외국식 음식점업,22.0,기타 대형 종합 소매업,18.0
67249,202208,화암동,협회 및 단체 수리 및 기타 개인 서비스업(94-96),기타 개인 서비스업,두발 미용업,3,63000,32,33,9,...,한식 일반 음식점업,79,커피 전문점,70.0,체인화 편의점,62.0,기타 외국식 음식점업,22.0,기타 대형 종합 소매업,18.0